*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
html {
    scroll-behavior: smooth;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
body {
    background-color: #252627;
    
}
.sidebar {
     background-color: black;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 35px 0;

}
.sidebar :hover {
  color: #fff;
} 
.sidebar a {
    color: hsl(0, 0%, 44%);
    font-size: 20px;
}
li {
    list-style: none;
    margin-left: 35px;
}
a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    transform: translateY(-50%);
}
.container-info {
    margin-top: 50px;
    margin-left: 20px;
}
.container-info h1 {
    color: cornsilk;
    font-size: 2.3rem;
    text-align: left;
    margin-left: 55px;
}
span.name {
    color: crimson;
}
.image {
    text-align: center;
}
.image img{
    margin: 25px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.icons {
    margin: 0px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
} 
.icons a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    border-radius: 50%;
    background: cornsilk;
    color: #000;
    margin: 0px;
    align-items: center;
    font-size: 25px;
}

/* about section */
.about {
    height: 100vh;
    width: 100%;
    padding: 25px;
    text-align: center;
}
.about h1 {
    color: hsl(0, 0%, 44%);
    font-size: 35px;    
    padding-bottom: 20px;
}
.about h3 {
    color: cornsilk;
    padding-top: 10px;
}
.about h2 {
    color: hsl(0, 0%, 44%);
    padding-bottom: 20px;
}
.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.single-img {
    padding: 0 20px 20px;
}
img:hover {
    opacity: .5;
    transition: .9s;
}

/* skills section */
.skills {
    height: 100vh;
    width: 100%;
    padding: 25px;
}
.skills h1 {
    font-size: 35px;
    color: hsl(0, 0%, 44%);
}
.skills h3 {
    color: cornsilk;
    padding-top: 10px;
}

/* contact section */
.contact {
    height: 100vh;
    width: 100%;
    padding: 25px;
    }
.contact h1 {
    font-size: 35px;
    color: hsl(0, 0%, 44%);
}
.contact h3 {
    color: cornsilk;
    padding-top: 10px;
}

button {
    width: 30%;
    height: 5vh;
    background-color: #252627;
    color: crimson;
    border: 2px solid crimson;
}




@media(min-width: 1040px) {


    .sidebar {
        padding: 45px 0;
    }
     .sidebar a {
        font-size: 20px;
    }
    .container-info h1 {
        font-size: 2.9rem;
        margin-left: 10rem;
    }
    span {
        color: crimson;
    }
    .image {
        margin-left: -25rem;
    }
    .image img{
        height: 350px;
        width: 300px;
        }
    .icons {
        margin-left: -25rem;
    }
.about h1 {
    font-size: 45px;
}
.about h3 {
    font-size: 25px;
}
.skills h1 {
    font-size: 45px;  
}
.skills h3 {
    font-size: 25px;
}
.contact h1 {
    font-size: 45px;
}
.contact h3 {
    font-size: 25px;
}
    button {
        width: 10%;
        height: 5vh;
        background-color: #252627;
        color: crimson;
        border: 2px solid crimson;
    }

}



